build/
ebpf/build/
*.o

__pycache__/
*.pyc
.venv/
venv/

eval_result*/
figures/
*.log

apps/*/bitmaps/
apps/*/coverage/*
!apps/*/coverage/.gitkeep
apps/prestashop/var/cache/
apps/prestashop/var/logs/
